/* Careful: changed from certain things in example code to work with my buttons instead since I'm making use of button elements instead of li elements */

.SearchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./background_search_desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
  }
    /* Originally .SearchBarSortOptions ul, removed ul for button compatibility */
  .SearchBarSortOptions {
    display: flex;
    justify-content: center;
    margin-bottom: 2.22rem;
    /* this color line wasn't doing anything. I set button color in the button selector below though. */
    /* color: #ffffff; */
  }
  /* changed from .SearchBarSortOptions li */
  .SearchBarSortOptions button {
    cursor: pointer;
    /* Currently, if I increase width at all, the stacking of button text breaks */
    width: 5rem;
    border:none;
    /* border-bottom: 1px solid #fff; */
    /* padding: 0 2.58rem 0.33rem 2.58rem; */
    background-color: transparent;
    color: #ffffff;
    line-height: 1.13;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.25s;
    list-style: none;
  }
  /* changed from .SearchBarSortOptions li:hover */
  .SearchBarSortOptions button:hover {
    color: #f0c36c;
    border-bottom:5px solid #5a4ba7;
  }
  /* changed from 
  .SearchBarSortOptions li .active
  .SearchBarSortOptions li.active.hover
  */
  .SearchBarSortOptions button.active,
  .SearchBarSortOptions button.active:hover {
    border-bottom: 5px solid #2ca335;
    color: #de1230;
  }
  
  .SearchBarFields {
    display: flex;
    justify-content: center;
    margin-bottom: 2.88rem;
  }
  
  .SearchBarFields input {
    width: 21rem;
    padding: 0.66rem 1rem;
    margin-right: 2.22rem;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 0.77rem;
    font-weight: 500;
  }
  
  .SearchBarFields input:last-child {
    margin-right: 0;
  }
  
  .SearchBarSubmit {
    text-align: center;
  }
  /* test */
  /* Changed from .searchbarsubmit  */
  .SearchBarSubmit button {
    border-radius: 4px;
    padding: 0.72rem 1.7rem;
    background-color: #cca353;
    color: #ffffff;
    font-weight: 600;
    transition: background-color 0.5s;
  }
  /* Changed from .searchbarsubmit a:hover */
  /* Also changed hover color for funsies(this appears to be the "Search" button) */
  .SearchBarSubmit button:hover {
    cursor: pointer;
    background-color: #5a4ba7;
  }
  
  @media only screen and (max-width: 560px) {
    .SearchBar {
      background-image: url("./background_search_mobile.jpg");
    }
    /* Originally .SearchBarSortOptions ul, removed ul for button compatibility */
    .SearchBarSortOptions {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  
    .SearchBarFields {
      flex-direction: column;
      align-items: center;
    }
  
    .SearchBarFields input {
      margin-right: 0;
      margin-bottom: 0.86rem;
    }
  }
  